

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Events Component &mdash; LASIF 0.1.x documentation</title>
  

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script src="../_static/jquery.js"></script>
        <script src="../_static/underscore.js"></script>
        <script src="../_static/doctools.js"></script>
        <script src="../_static/language_data.js"></script>
        <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Iterations Component" href="iterations.html" />
    <link rel="prev" title="Downloads Component" href="downloads.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../index.html" class="icon icon-home" alt="Documentation Home"> LASIF
          

          
          </a>

          
            
            
              <div class="version">
                0.1.x
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation, Testing &amp; DevInfo</a></li>
<li class="toctree-l1"><a class="reference internal" href="../introduction.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorial.html">Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="../api_doc.html">API Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cli.html">Command Line Interface</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../components.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="project.html">Project Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="adjoint_sources.html">Adjoint Sources Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="downloads.html">Downloads Component</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Events Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="iterations.html">Iterations Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="query.html">Query Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="validator.html">Validator Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="visualizations.html">Visualizations Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="waveforms.html">Waveforms Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="weights.html">Weights Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="windows.html">Windows Component</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../faq.html">FAQ</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">LASIF</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../components.html">Components</a> &raquo;</li>
        
      <li>Events Component</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/events.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="events-component">
<h1>Events Component<a class="headerlink" href="#events-component" title="Permalink to this headline">¶</a></h1>
<p>The Events component takes care of event information and has methods to
find out all sorts of information regarding the events in the project.</p>
<p><strong>Contents:</strong></p>
<span class="target" id="module-lasif.components.events"></span><dl class="py class">
<dt id="lasif.components.events.EventsComponent">
<em class="property">class </em><code class="sig-prename descclassname">lasif.components.events.</code><code class="sig-name descname">EventsComponent</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">folder</span></em>, <em class="sig-param"><span class="n">communicator</span></em>, <em class="sig-param"><span class="n">component_name</span></em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/events.html#EventsComponent"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.events.EventsComponent" title="Permalink to this definition">¶</a></dt>
<dd><p>Component managing a folder of QuakeML files.</p>
<p>Each file must adhere to the scheme <code class="docutils literal notranslate"><span class="pre">*.xml</span></code>.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><ul class="simple">
<li><p><strong>folder</strong> – Folder with QuakeML files.</p></li>
<li><p><strong>communicator</strong> – The communicator instance.</p></li>
<li><p><strong>component_name</strong> – The name of this component for the
communicator.</p></li>
</ul>
</dd>
</dl>
<dl class="py method">
<dt id="lasif.components.events.EventsComponent.count">
<code class="sig-name descname">count</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">iteration</span><span class="p">:</span> <span class="n"><a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)">str</a></span> <span class="o">=</span> <span class="default_value">None</span></em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/events.html#EventsComponent.count"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.events.EventsComponent.count" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the number of events managed by this component.
If iteration given, return number of events in iteration</p>
<div class="doctest highlight-default notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s1">&#39;events_comm&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">events</span><span class="o">.</span><span class="n">count</span><span class="p">()</span>
<span class="go">2</span>
</pre></div>
</div>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>iteration</strong> (<a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)"><em>str</em></a><em>, </em><em>optional</em>) – Name of iteration, defaults to None</p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="lasif.components.events.EventsComponent.get">
<code class="sig-name descname">get</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">event_name</span><span class="p">:</span> <span class="n"><a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)">str</a></span></em><span class="sig-paren">)</span> &#x2192; <a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#dict" title="(in Python v3.8)">dict</a><a class="reference internal" href="../_modules/lasif/components/events.html#EventsComponent.get"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.events.EventsComponent.get" title="Permalink to this definition">¶</a></dt>
<dd><p>Get information about one event.
This function uses multiple cache layers and is thus very cheap to
call.
:param event_name: The name of the event.
:type event_name: str
:rtype: dict</p>
</dd></dl>

<dl class="py method">
<dt id="lasif.components.events.EventsComponent.get_all_events">
<code class="sig-name descname">get_all_events</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">iteration</span><span class="p">:</span> <span class="n"><a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)">str</a></span> <span class="o">=</span> <span class="default_value">None</span></em><span class="sig-paren">)</span> &#x2192; <a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#dict" title="(in Python v3.8)">dict</a><a class="reference internal" href="../_modules/lasif/components/events.html#EventsComponent.get_all_events"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.events.EventsComponent.get_all_events" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns a dictionary with the key being the event names and the
values the information about each event, as would be returned by the
<a class="reference internal" href="#lasif.components.events.EventsComponent.get" title="lasif.components.events.EventsComponent.get"><code class="xref py py-meth docutils literal notranslate"><span class="pre">get()</span></code></a> method.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>iteration</strong> (<a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)"><em>str</em></a><em>, </em><em>optional</em>) – Name of iteration, defaults to None</p>
</dd>
<dt class="field-even">Returns</dt>
<dd class="field-even"><p>Dictonary with keys as event names and information as values</p>
</dd>
<dt class="field-odd">Return type</dt>
<dd class="field-odd"><p><a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#dict" title="(in Python v3.8)">dict</a></p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="lasif.components.events.EventsComponent.has_event">
<code class="sig-name descname">has_event</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">event_name</span><span class="p">:</span> <span class="n"><a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)">str</a></span></em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/events.html#EventsComponent.has_event"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.events.EventsComponent.has_event" title="Permalink to this definition">¶</a></dt>
<dd><p>Test for existence of an event.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>event_name</strong> (<a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)"><em>str</em></a>) – The name of the event.</p>
</dd>
</dl>
</dd></dl>

<dl class="py method">
<dt id="lasif.components.events.EventsComponent.list">
<code class="sig-name descname">list</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">iteration</span><span class="p">:</span> <span class="n"><a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)">str</a></span> <span class="o">=</span> <span class="default_value">None</span></em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/events.html#EventsComponent.list"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.events.EventsComponent.list" title="Permalink to this definition">¶</a></dt>
<dd><p>List of all events.
&gt;&gt;&gt; comm = getfixture(‘events_comm’)
&gt;&gt;&gt; comm.events.list() #  doctest: +NORMALIZE_WHITESPACE
[‘GCMT_event_TURKEY_Mag_5.1_2010-3-24-14-11’,
‘GCMT_event_TURKEY_Mag_5.9_2011-5-19-20-15’]</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><p><strong>iteration</strong> (<a class="reference external" href="https://docs.python.org/3/library/stdtypes.html#str" title="(in Python v3.8)"><em>str</em></a><em>, </em><em>optional</em>) – Name of iteration, defaults to None</p>
</dd>
</dl>
</dd></dl>

</dd></dl>

</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="iterations.html" class="btn btn-neutral float-right" title="Iterations Component" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="downloads.html" class="btn btn-neutral float-left" title="Downloads Component" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2016, Lion Krischer &amp; Andreas Fichtner

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>